@page "/ClientListView"
@using System.Net.Http.Json
@using SEN381_UI.BusinessLayer
@using SEN381_UI.Data
@using SEN381_UI.Shared.MockData
@inject NavigationManager UriHelper

<h3>Client Component</h3>

@if (load == true)
{
    <MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped"
          Filter="new Func<Client,bool>(FilterFunc)" @bind-SelectedItem="selectedItem" SortLabel="Sort by"
          T="Client"
          OnRowClick="@GoToDetails">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Clients</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nr</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Surname</MudTh>
            <MudTh>Address</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Phone</MudTh>
            <MudTh>Policies</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Notes</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.ClientID</MudTd>
            <MudTd DataLabel="Name">@context.ClientName</MudTd>
            <MudTd DataLabel="Surname">@context.ClientSurname</MudTd>
            <MudTd DataLabel="Address">@context.clientAddress</MudTd>
            <MudTd DataLabel="Email">@context.ClientEmail</MudTd>
            <MudTd DataLabel="Phone">@context.clientPhoneNumber</MudTd>
            <MudTd DataLabel="Polisies">@context.policies</MudTd>
            <MudTd DataLabel="Status">@context.ClientStatus</MudTd>
            <MudTd DataLabel="Notes">@context.ClientAdHocNotes</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="pageSizeOptions" />
        </PagerContent>
    </MudTable>
    <MudItem Style="margin-top:2%">
        <MudFab Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Href="/ClientAddView" />
    </MudItem>
}


@code {
    private bool load = false;
    private int[] pageSizeOptions = new int[] {5, 10, 15};
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString = "";
    private Client selectedItem = null;
    private HashSet<Client> selectedItems = new HashSet<Client>();

    private List<Client> Elements = new List<Client>();
    protected override async Task OnInitializedAsync()
    {
        Elements = await LoadClients();
        load = true;
    }
    private async Task<List<Client>> LoadClients()
    {
        ClientService cs = new ClientService();
        return await cs.LoadClient();
    }

    private bool FilterFunc(Client element) => FilterFunc(element, searchString);

    private bool FilterFunc(Client element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.ClientName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ClientSurname.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ClientAddress.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ClientEmail.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ClientPhoneNumber.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Policies.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ClientStatus.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ClientAdHocNotes.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.ClientName} {element.ClientSurname} {element.ClientAddress} {element.ClientEmail} {element.ClientPhoneNumber} {element.Policies} {element.ClientStatus} {element.ClientAdHocNotes}".Contains(searchString))
            return true;
        return false;
    }
    private void GoToDetails(TableRowClickEventArgs<Client> p)
    {
        UriHelper.NavigateTo($"/ClientDetailsView/{p.Item.ClientID}");
    }
}
