@page "/Client"
@using System.Net.Http.Json
@using SEN381_UI.BusinessLayer
@using SEN381_UI.Data
@using SEN381_UI.Shared.MockData
@inject NavigationManager UriHelper

<h3>Client Component</h3>

    <MudTable ServerData="@(new Func<TableState, Task<TableData<Client>>>(loadClients))" 
          Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped"
          Filter="new Func<Client,bool>(FilterFunc)" @bind-SelectedItem="selectedItem" SortLabel="Sort by"
          T="Client"
          OnRowClick="@GoToDetails">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Clients</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nr</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Surname</MudTh>
            <MudTh>Address</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Phone</MudTh>
            <MudTh>Active Policy</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Notes</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.ClientID</MudTd>
            <MudTd DataLabel="Name">@context.ClientName</MudTd>
            <MudTd DataLabel="Surname">@context.ClientSurname</MudTd>
            <MudTd DataLabel="Address">@context.clientAddress</MudTd>
            <MudTd DataLabel="Email">@context.ClientEmail</MudTd>
            <MudTd DataLabel="Phone">@context.clientPhoneNumber</MudTd>
            <MudTd DataLabel="Active Policy">@getClientPolicy(context)</MudTd>
            <MudTd DataLabel="Status">@context.ClientStatus</MudTd>
            <MudTd DataLabel="Notes">@context.ClientAdHocNotes</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="pageSizeOptions" />
        </PagerContent>
    </MudTable>
    <MudItem Style="margin-top:2%">
        <MudFab Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Href="/ClientAddView" />
    </MudItem>


@code {
    private int[] pageSizeOptions = new int[] {5, 10, 15};
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString = "";
    private Client selectedItem = null;
    private HashSet<Client> selectedItems = new HashSet<Client>();

    private List<Client> Elements = new List<Client>();


    private async Task<TableData<Client>> loadClients(TableState state)
    {
        ClientService cs = new ClientService();
        await cs.LoadClient(state.PageSize,state.Page).ContinueWith((x)=> {
            Elements = x.Result;
        });
        return new TableData<Client>() { Items = Elements, TotalItems = Elements.Count };
    }

    private bool FilterFunc(Client element) => FilterFunc(element, searchString);

    private bool FilterFunc(Client element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.ClientID.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.ClientName} {element.ClientSurname} {element.ClientAddress} {element.ClientEmail} {element.ClientPhoneNumber} {element.ClientStatus} {element.ClientAdHocNotes}".Contains(searchString))
            return true;
        return false;
    }
    private void GoToDetails(TableRowClickEventArgs<Client> p)
    {
        UriHelper.NavigateTo($"/Client/{p.Item.ClientID}");
    }

    private string getClientPolicy(Client client){
        return client.Policy == null ? "None" : client.Policy.PolicyName;
    }
}
